@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_mpvvrlm9jh9.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
  }